<!DOCTYPE html>
<%@ Register TagPrefix="CuteWebUI" Namespace="CuteWebUI" Assembly="CuteWebUI.AjaxUploader" %>
<html lang="en">
<!--<head>
    <meta charset="utf-8" />
    <title>My ASP.NET Web Page - @Page.Title</title>
    <link href="@Href("~/Styles/Site.css")" rel="stylesheet" />
    <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
</head>-->
<head>
    <title>Murdoch University in Perth Australia</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="http://www.murdoch.edu.au/_stylesheet/thevow/style.css/">
    <link rel="shortcut icon" href="http://www.murdoch.edu.au/_image/favicon.gif/">
    <link rel="icon" href="http://www.murdoch.edu.au/_image/favicon.gif/">
    <link media="all" type="text/css" rel="stylesheet" href="http://www.murdoch.edu.au/_stylesheet/External/common.css/">
    <link media="all" type="text/css" rel="stylesheet" href="http://www.murdoch.edu.au/_stylesheet/External/promo.css/">
    <link media="all" type="text/css" rel="stylesheet" href="http://www.murdoch.edu.au/_stylesheet/midyear.css/">
    <link media="all" type="text/css" rel="stylesheet" href="http://www.murdoch.edu.au/_stylesheet/tools/sayt.css/">
    <link media="all" type="text/css" rel="stylesheet" href="http://www.murdoch.edu.au/_stylesheet/semester_1_2014/semester1pg_2014.css/">
    <!--<link rel="stylesheet" type="text/css" href="http://www.murdoch.edu.au/_stylesheet/Brand2013/research_hp_banner.css/" content_id="33822" />//-->
    <link media="all" type="text/css" rel="stylesheet" href="http://www.murdoch.edu.au/_stylesheet/semester_1_2014/semester1_2014_v2.css/">
    <link media="all" type="text/css" rel="stylesheet" href="http://www.murdoch.edu.au/_stylesheet/End-of-Year-2013/styles.css/">
    <meta name="keywords" content="Homepage">
    <meta name="access_live" content="">
    <meta name="title" content="Murdoch University in Perth Australia">
    <meta name="description" content="Welcome to Murdoch University, Perth, Western Australia.  We're proud to have more than 22,000 students and 2,000 staff from all over the world.">
    <meta name="custodian" content="">
    <meta name="msvalidate_01" content="BEA49D3117C80F903AEABC6A2F98D94F">
    <meta name="verify-v1" content="MFuBNCk9cZKSjDXxrXMk+0/8a67pjIzEmEbdqPHxe5w=">
    <meta name="publisher" content="Murdoch University">
    <meta name="rights-owner" content="Murdoch University">
    <meta name="rights-url" content="http://www.murdoch.edu.au/goto/CopyrightNotice">
    <meta name="type" content="0">
    <meta name="subject" content="A">
    <meta name="language" content="en">
    <meta name="access" content="0">
    <meta name="access_preview" content="mais=1
mais.group=staff(current),other(current)">
</head>
<body id="homepage" class="page">
    <div id="body">
        <!--Murdoch header-->
        <div id="header">
            <div id="header_link">
                <a shape="rect" title="Murdoch University staff" alt="Murdoch University staff" href="http://goto.murdoch.edu.au/StaffInfo">
                    Staff</a> | <a shape="rect" title="Murdoch University students" alt="Murdoch University students"
                        href="http://goto.murdoch.edu.au/StudentInfo">Current Students</a>
                <!--| <a class="" alt="Murdoch University staff - beta release" title="Murdoch University staff - beta release" href="http://our.murdoch.edu.au/Staff/" shape="rect">Staff (beta)</a> | <a shape="rect" class="" alt="Murdoch University students - beta release" title="Murdoch University students - beta release" href="http://our.murdoch.edu.au/Students/">Current Students (beta)</a>-->
            </div>
            <div id="murdoch_header_logo" onclick="document.location.href='/'">
            </div>
            <script type="text/javascript" src="/_javascript/s_code.js/" xml:space="preserve">
            </script>
            <script type="text/javascript" src="/_javascript/omniture/mbox.js/" xml:space="preserve">
            </script>
            <style>
                .mboxDefault
                {
                    visibility: hidden;
                }
            </style>
            <script src="http://www.murdoch.edu.au/_javascript/resize.js/" type="text/javascript"
                xml:space="preserve">
            </script>
            <script src="http://www.murdoch.edu.au/_javascript/widgets.js/" type="text/javascript"
                xml:space="preserve">
            </script>
            <script src="http://www.murdoch.edu.au/_javascript/jquery.form.js/" type="text/javascript"
                xml:space="preserve">
            </script>
            <div id="search_area">
                <div style="float: left;">
                    <div id="geolanguage">
                        <img src="http://www.murdoch.edu.au/_image/homepage/language_selector_placeholder.png/?width=360&amp;height=13"
                            width="360" height="13" border="0" class="language cms_image" usemap="#LanguageSelector"
                            content_id="8217" alt="Language Selector" title="Language Selector">
                        <map id="LanguageSelector" name="LanguageSelector">
                            <area alt="Bahasa Indonesia" title="Bahasa Indonesia" href="http://www.hotcourses.co.id/study/translated-profile/ids/australia/murdoch-university/overview/72223/info.html"
                                coords="1,0,80,13" shape="rect">
                            <area alt="Middle East Arabic" title="Middle East Arabic" href="http://www.hotcourses.ae/study/translated-profile/ar/australia/murdoch-university/overview/72223/info.html"
                                coords="83,0,190,13" shape="rect">
                            <area alt="Simplified Chinese" title="Simplified Chinese" href="http://www.6student.cn/6/translated-institution-profile/overview/72223.html"
                                coords="193,0,242,13" shape="rect">
                            <area alt="Vietnamese" title="Vietnamese" href="http://www.hotcourses.vn/study/translated-profile/vi/australia/murdoch-university/overview/72223/info.html"
                                coords="245,0,308,13" shape="rect">
                            <area alt="Portugues" title="Portugues" href="http://www.hotcourses.com.br/study/translated-profile/pt/australia/murdoch-university/overview/72223/info.html"
                                coords="311,0,360,13" shape="rect">
                        </map>
                    </div>
                </div>
                <div style="float: left;">
                    <script src="http://www.murdoch.edu.au/_javascript/jquery.keynav.js/" type="text/javascript"
                        xml:space="preserve">
                    </script>
                    <form method="get" id="form_search" action="http://search.murdoch.edu.au/" enctype="application/x-www-form-urlencoded"
                    name="search_form">
                    <input type="text" alt="Keyword search criteria" autocomplete="off" class="keyword_search_input"
                        name="q" id="sayt_result">
                    <input type="submit" value="Search" title="Search Murdoch University" class="submit">
                    <input type="hidden" value="external" name="searchSite" id="searchSite">
                    <div id="searchResultCanvas" style="display: none;">
                    </div>
                    </form>
                </div>
            </div>
            <div id="visitor_type">
                <div id="geotarget">
                </div>
            </div>
            <script type="text/javascript" xml:space="preserve">
                s.server_name = 'Mot';
                s.server_month = '06';
                s.server_weekno = '23'; 
            </script>
            <ul id="main_navigation">
                <li class="selected"><a href="@Href("~/")" shape="rect">Home</a></li>
                <li><a href="@Href("~/About.cshtml")" shape="rect">About</a></li>
                <li><a href="http://www.murdoch.edu.au/Courses/" shape="rect">Courses</a></li>
                <li><a href="http://www.murdoch.edu.au/Future-students/" shape="rect">Future students</a></li>
                <li><a href="http://www.murdoch.edu.au/New-students/" shape="rect">New students</a></li>
                <li><a href="http://www.murdoch.edu.au/News/" shape="rect">News</a></li>
                <li><a href="http://www.murdoch.edu.au/Services/" shape="rect">Services</a></li>
                <li><a href="http://www.murdoch.edu.au/Business-and-Industry/" shape="rect">Business
                    and Industry</a></li>
                <li><a href="http://www.murdoch.edu.au/Alumni-services/" shape="rect">Alumni</a></li>
            </ul>
        </div>
        <!--Murdoch header-->
        <!--Main content-->
        <div class="content">
            <div id="main_content">
                @RenderBody()
            </div>
        </div>
        <!--Main content-->

        <!--Murdoch footer-->
        <div id="footer">
            <div style="z-index: 800;" class="banner">
                <script src="/_system/swfobject.js" type="text/javascript" xml:space="preserve"></script>
                <div id="flash_container_264783" style="background: none;">
                    <embed type="application/x-shockwave-flash" src="/_flash/pws_flash_footer_2013.swf/"
                        width="700" height="30" style="undefined" id="flash_9986" name="flash_9986" quality="high"
                        wmode="transparent" salign="tl" flashvars=""></div>
                <script type="text/javascript" xml:space="preserve">//<![CDATA[
                    var so = new SWFObject("/_flash/pws_flash_footer_2013.swf/", "flash_9986", "700", "30", "7");
                    so.addParam("wmode", "transparent");
                    so.addParam("salign", "tl");
                    so.addParam("FlashVars", "");
                    so.write("flash_container_264783");
				//]]>
                </script>
                <!--<img height="31" width="87" alt="GreenPower logo" content_id="8049" src="http://www.murdoch.edu.au/_image/navigation/logo_green_power.gif/?width=87&amp;amp;height=31" /> 1st university to sign up to use 15% greenpower//-->
            </div>
            <div class="links">
                <a href="http://www.murdoch.edu.au/" alt="Home Page" shape="rect" title="Home Page"
                    class="">
                    <img src="http://www.murdoch.edu.au/_image/navigation/footer_logo.gif/?width=86&amp;height=60"
                        width="86" height="60" border="0" alt="Murdoch logo" class="logo" title="Murdoch logo"></a>
                <ul>
                    <li>
                        <ul>
                            <li>© 2014 <a href="http://www.murdoch.edu.au" shape="rect">Murdoch University</a></li>
                            <li><a href="http://goto.murdoch.edu.au/CopyrightNotice" shape="rect">Copyright &amp;
                                Disclaimer</a></li>
                            <li><a href="http://goto.murdoch.edu.au/TEQSANumber" shape="rect">TEQSA Number: PRV12163</a></li>
                            <li><a href="http://goto.murdoch.edu.au/CRICOSCode" shape="rect">CRICOS Code: 00125J</a></li>
                            <li><a href="/Contact-us/" shape="rect">Contact us</a></li>
                            <li><a target="_blank" href="https://goto.murdoch.edu.au/Privacy" shape="rect" class="">
                                Privacy</a></li>
                        </ul>
                    </li>
                    <li class="full">
                        <ul>
                            <li><a href="http://www.murdoch.edu.au/" shape="rect">Home</a></li>
                            <li><a href="/Research-capabilities/" shape="rect">Research</a></li>
                            <li><a href="/Courses" shape="rect">Courses</a></li>
                            <li><a href="/Future-students/" shape="rect">Future students</a></li>
                            <li><a href="/News/" shape="rect">News</a></li>
                            <li><a href="/Services/" shape="rect">Services</a></li>
                            <li><a href="/Business-and-Industry/" shape="rect">Business and Industry</a></li>
                            <li><a href="/Alumni/" shape="rect">Alumni</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="select_site">
                    <p>
                        You are currently located on the <strong>main Murdoch</strong> site</p>
                    <div id="site_select">
                        <span>+</span> <a shape="rect" onclick="appear('other_sites');" style="padding: 3px 10px 3px 3px;
                            cursor: pointer;">Find another Murdoch website</a></div>
                    <div id="other_sites">
                        <div align="right">
                            <a shape="rect" onclick="fadeOther('other_sites');" style="padding-right: 10px; cursor: pointer;">
                                x</a></div>
                        <ul>
                            <li><a href="http://goto.murdoch.edu.au/Library" onclick="document.getElementById('other_sites').style.display = 'none'"
                                shape="rect" target="_new">Library</a></li>
                            <li><a href="http://goto.murdoch.edu.au/Handbook" onclick="document.getElementById('other_sites').style.display = 'none'"
                                shape="rect" target="_new">Handbook</a></li>
                            <li><a href="http://goto.murdoch.edu.au/Bookshop" onclick="document.getElementById('other_sites').style.display = 'none'"
                                shape="rect" target="_new">Bookshop</a></li>
                            <li><a href="http://goto.murdoch.edu.au/StudentServices" onclick="document.getElementById('other_sites').style.display = 'none'"
                                shape="rect" target="_new">Student Services</a></li>
                            <li><a href="http://goto.murdoch.edu.au/StudentLearning" onclick="document.getElementById('other_sites').style.display = 'none'"
                                shape="rect" target="_new">Student Learning Centre</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Murdoch footer-->
    </div>
</body>
</html>
